<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOG</title>
</head>
<body>
    <h1>Building Django Applications</h1>
    <h2>PROFESSIONAL SUMMARY</h2>   
    <br>GIS Specialist with experience in geospatial analysis, remote sensing, and spatial modeling.<br> Skilled in applying geospatial techniques in agriculture, natural sciences, climate change, and Earth observation using satellite-acquired data.</br> <br>
        Proficient in spatial data collection, analysis, and visualization, with experience in web-based GIS applications using ArcGIS Online resources.</br> Adept at working with large datasets, developing analytical scripts, and supporting decision-making processes through geospatial insights.
    </p>
    
</body>
</html>